{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3" >
            <input type="text" class="form-control mx-auto w-auto" id="registerUser" name="username" placeholder="Username" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control mx-auto w-auto" id="registerPass" placeholder="Password" name="password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control mx-auto w-auto" id="registerPassCon" placeholder="Confirm Password" name="confirmation">
        </div>
        <button type="submit" class="btn btn-primary  text-end">Register</button>
    </form>
{% endblock %}

