{% extends "layout.html" %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Select Symbol:</label>
            <select type="select" class="form-select mx-auto w-auto" name="symbol">
                <option selected disabled>Stock</option>
                {% for row in owned %}
                    <option value="{{ row.symbol }}">{{ row.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares" class="form-label">Select Number of Shares:</label>
            <input type="text" class="form-control mx-auto w-auto" placeholder="0" name="shares">
        </div>
        <button type="submit" class="btn btn-primary text-end">Sell</button>
    </form>
{% endblock %}
